@tailwind base;
@tailwind components;
@tailwind utilities;

/* prevent scrolling */
body {
    margin: 0; 
    overflow: hidden; 
}

.main-container {
    height: 100vh; 
    display: flex;
}

/* can use if need scrollable component */
.scrollable {
    max-height: calc(100vh - 64px); 
    overflow-y: auto; 
}
